<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VersionOne.SDK.APIClient" publicKeyToken="e0f410c10d2e7630" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.4.0.153" newVersion="12.4.0.153" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DebugFileName" value="C:\VersionOneAPIClientDebug.txt" />
    <add key="V1Url" value="https://www14.v1host.com/v1sdktesting/" />
    <add key="V1UserName" value="admin" />
    <add key="V1Password" value="admin" />
    <add key="UseWindowsIntegratedAuth" value="false" />
  </appSettings>  
</configuration>